$accentColor = #a1c4fd                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

// 全局样式的修改
.navbar{
  background: rgba(255,255,255,.2);
}

.home-blog .hero {
  margin:0 auto 0;
}

.navbar .links {
 background: rgba(255,255,255,.0);
 font-size: 1rem;
 font-weight: bold;
}
.search-box input {
  color: black;
  }

.reco-search:before {
  color: whitesmoke;
  }